
.location-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.location-controller {
  background-color: #d4e2d2;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}
.location-controller.selected {
  background-color: #4acb4a;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
}